/*Pad entire body*/
body{
	padding: 10px 10px;
}
/*information bundle/form*/
.control{
	max-width: 200px;
	display: inline-block;
	background-color: #003453;
	outline: #000000 solid 2px;
	vertical-align: top;
	color: #FFF;
}
/*Box to fill text with*/
#main{
	display: inline-block;
	outline: #000000 solid 2px;
	width: 600px;
	max-height: 200px;
	overflow-y: scroll;
	padding: 20px 40px;
	vertical-align: top;
}
/*Styling all word elements*/
.word, .focus_word{
	margin: 5px 2px;
	display: inline-block;
}
/*word to be edited*/
.focus_word{
	background-color: #00AA00;
	text-decoration: underline;
}
/*Empty word spaces*/
.void{
	display: inline-block;
}
